<header>

  <mat-toolbar class="one">
    <div>
      <mat-icon>add_shopping_cart</mat-icon>

      <span> Your Shop </span>

      <mat-icon>shopping_basket</mat-icon>
    </div>
    <div class="nav">
      <a mat-list-item class="one0" routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a class="one0" routerLink="/products" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>
        <span>Products</span>
      </a>
      <a class="one0" routerLink="/login" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>

      <a class="one0" routerLink="/logout" routerLinkActive="active">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>

    </div>


  </mat-toolbar>

</header>